@font-face {
  font-family: "getai";
  src: url("../assets/fonts/DTGetaiGroteskDisplay-Black.otf") format("opentype");
}

@font-face {
  font-family: "blaft";
  src: url("../assets/fonts/GCBlaft-Bold.otf") format("opentype");
}
@font-face {
  font-family: "universo";
  src: url("../assets/fonts/Fontspring-DEMO-universo-black.otf")
    format("opentype");
}

.nav-btn {
  box-shadow: 7px 7px 0 0px black;
}

.savings {
  position: relative;
  z-index: 20;
}
.savings-span {
  position: absolute;
  width: 0;
  height: 100%;
  @apply bg-violet-500 overflow-hidden text-white;
}

#circle {
  position: relative;
  border-radius: 100%;
  padding: 16px;
  animation: rotate-animation 8s infinite linear;
}

#circle span {
  position: absolute;
  transform-origin: top left;
  height: fit-content;
}

@keyframes rotate-animation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

.feat-btn {
  box-shadow: 7px 7px 0 0px #8b5cf6;
}
a {
  width: fit;
}

.card-border {
}
