---
import Layout from "../Layout/Layout.astro";
import Header from "../components/Header.jsx";
import Hero from "../components/Hero.jsx";
import Features from "../components/Features.jsx";
import Why from "../components/Why.jsx";
import Marq from "../components/Marquee.jsx";
import Footer from "../components/Footer.jsx";
---

<Layout>
  <div class="w-screen overflow-x-hidden min-h-screen bg-[#fafafa]">
    <Header />
    <Hero client:load />
    <Marq client:load />
    <Features />
    <Marq client:load />
    <Why />
    <Footer />
  </div>
</Layout>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Bungee+Outline&family=Bungee+Shade&display=swap');
  body {
    font-family: Poppins, sans-serif;
    overflow-x: hidden
  }
</style>
