---
import Icon1 from "../assets/Favicon/apple-touch-icon.png";
import Icon2 from "../assets/Favicon/favicon-32x32.png";
import Icon3 from "../assets/Favicon/favicon-16x16.png";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href={Icon1} />
    <link rel="icon" type="image/png" sizes="32x32" href={Icon2} />
    <link rel="icon" type="image/png" sizes="16x16" href={Icon3} />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
  </body>
</html>
