---
import heroimg1 from '../assets/images/Saveply (1)/svg/hero.svg';
import badge from '../assets/images/badge.svg';
---
<section class='hero'>
    <div class='container'>
        <div class='text-cont'>
            <h1 class='primary-title'>
                Join the 
                <span>Savings Revolution!</span>
            </h1>
            <p class='secondary-title'>
                Save and earn simply and securely with <strong>Saveply.</strong>
            </p>
            <label for='email-input' class='input-cont'>
                <input type='email' name='email-input' placeholder='Enter email to join our waitlist'>
                <button class='btn join-waitlist-btn-small'>Join Waitlist</button>
            </label>
        </div>
        <div class='image-cont'>
            <img src={heroimg1} alt=''>
        </div>
    </div>
    <div class='container-2'>
        <div class='second-text-cont'>
            <h2>The Neo-Piggybank you can trust</h2>
            <p><strong>SAVEPLY</strong> uses up-to-date encryption and security measures to protect the savings, informations and transactions of our users. Users can be assured that their funds are safe and secure.</p>
        </div>
        <div class='second-image-cont'>
            <img src={badge} alt=''>
        </div>
    </div>
</section>

<style>
    /* base-styles */
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    :root {
        --primary-color:#7F0799;
        --dark-text-color: #000000;
        --light-text-color: #ffffff;
        --max-cont-width: 117rem;
    }
    .btn {
        background-color: var(--primary-color);
        color: var(--light-text-color);
        border-radius: .5rem;
    }
    .btn:hover{
       background-color:#8F0799;
    }
    /* animations */
    .fadeleft{
        animation: fadeleft .5s both;
    }
    @keyframes fadeleft{
        0%{
            opacity: 0;
            transform: translateX(-100%);
        }
        100%{
            opacity: 1;
            transform: translateX(0);
        }
    }
    .faderight{
        animation: faderight .5s both;
    }
    @keyframes faderight{
        0%{
            opacity: 0;
            transform: translateX(100%);
        }
        100%{
            opacity: 1;
            transform: translateX(0);
        }
    }
    /* hero */
    .hero{
        width: 100%;
        margin-top: 2rem;
        padding: 4rem 0;
    }
    .container{
        max-width: var(--max-cont-width);
        margin: 0 auto 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .image-cont{
        flex: 50%;
        position: relative;
    }
    /* .image-cont::before{
        content: '';
        background-color:  rgba(127, 7, 153, 0.2);
        position: absolute;
        width: 60%;
        left: 19%;
        margin: 0 auto;
        height: 100%;
        z-index: -1;
        border-radius: 1rem;
    } */
    .text-cont{
        display: flex;
        flex-direction: column;
    }
    .text-cont .primary-title{
        color: var(--primary-color);
        font-weight: 700;
        font-size: 6rem;
    }
    .text-cont .primary-title span{
        display: block;
    }
    .text-cont .secondary-title{
        font-size: 3rem;
        font-weight: 500;
        color: var(--dark-text-color);
        width: 80%;
    }
     strong{
        color: var(--primary-color);
    }
    .input-cont{
        border: 0.987952px solid #7F0799;
        display: flex;
        justify-content: space-between;
        width: 60%;
        border-radius: .5rem;
        padding: .2rem;
        margin-top:2.5rem;
    }
    .input-cont input{
        width: 70%;
        padding: 1rem;
    }
    .input-cont input:focus{
        outline: none;
    }
    .join-waitlist-btn-small {
        padding: .5rem .7rem;
    }
    /* conteainer 2 */
    .container-2{
        max-width: 95rem;
        margin: 8rem auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .second-image-cont{
        flex: 50%;
    }
    .second-text-cont h2{
        font-size: 3.5rem;
        color: var(--primary-color);
        font-weight: 700;
    }
    .second-text-cont p{
        font-size: 1.8rem;
    }
    /* media-quries */
    @media screen and (max-width:1200px){
        .hero{
            padding: 2rem 4rem;
        }
        .text-cont .primary-title{
            font-size: 5rem;
        }
        .text-cont .secondary-title{
            font-size: 2.5rem;
        }
        .input-cont{
            width: 65%;
            padding: .2rem;
            font-size: 1.5rem;
        }
        .input-cont input{
            width: 90%;
        }
        .join-waitlist-btn-small {
            width: 35%;
            padding: .25rem;
        }
        .container-2{
            max-width: 75rem;
        }
    }
    @media screen and (max-width:960px){
        .hero{
            padding: 2rem 2rem;
        }
        .text-cont .primary-title{
            font-size: 4rem;
        }
        .text-cont .secondary-title{
            font-size: 2rem;
        }
        .image-cont{
            flex: 50%
        }
        .input-cont{
            width: 80%;
            padding: .1rem;
        }
        .input-cont input{
            width: 70%;
        }
        .join-waitlist-btn-small {
            width: 35%;
            padding: .25rem;
        }
        .container-2{
            max-width: 65rem;
        }
        .second-image-cont{
            flex: 70%;
        }
        .second-text-cont h2{
            font-size: 2.5rem;
        }
        .second-text-cont p{
            font-size: 1.6rem;
        }
    }
    @media screen and (max-width: 720px){
        .image-cont{
            display: none;
        }
        .text-cont{
            flex: 100%
        }
        .text-cont .primary-title{
            font-size: 4rem;
        }
        .text-cont .primary-title span{
            width: 80%
        }
        .text-cont .secondary-title{
            font-size: 2rem;
            width: 60%;
        }
        .input-cont{
            width: 90%;
            font-size: 1.3rem;
        }
        .input-cont input{
            width: 90%;
        }
        .join-waitlist-btn-small {
            width: 35%;
            padding: .25rem;
        }
        .container-2{
            max-width: 65rem;
            flex-wrap: wrap;
        }
        .second-image-cont{
            order: 1;
            display: flex;
            justify-content:center;
            flex: 100%;
        }
        .second-text-cont{
            margin-top: 3rem;
            order: 2;
        }
        .second-text-cont h2{
            font-size: 2.5rem;
            margin: 1rem auto;
        }
        .second-text-cont p{
            font-size: 1.6rem;
        }

    }
</style>

<script>
    function observers(element, classtoadd){
        const observer = new IntersectionObserver((entries)=>{
            entries.forEach((entry)=>{
                if(entry.isIntersecting){
                    entry.target.classList.add(classtoadd)
                }else{
                    entry.target.classList.remove(classtoadd)
                }
            })
        })
        observer.observe(element)
    }

    observers(document.querySelector('.text-cont'), 'fadeleft')
    observers(document.querySelector('.image-cont'), 'faderight')
    observers(document.querySelector('.second-text-cont'), 'fadeleft')
    observers(document.querySelector('.second-image-cont'), 'faderight')
</script>
