---
import logo from '../assets/images/logo.svg';
import innerlogo from '../assets/images/innercircle.svg';
---
<header class="fade-top">
    <div class='top-nav'>
        <div class="logo-cont">
            <p class="logo"><img src={logo} alt="" class='bigimg'> <img src={innerlogo} alt="" class="smallimg"> SAVEPLY</p>
            <div class="hamburger-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
        <ul class="nav-list">
            <li class="nav-item"><a href="" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="" class="nav-link">About</a></li>
            <li class="nav-item"><a href="" class="nav-link">Why Us</a></li>
            <li class="nav-item"><a href="" class="nav-link">Blog</a></li>
        </ul>
        <button class="btn join-waitlist-btn-large">Join Waitlist</button>
    </div>    
</header>

<style>
     @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    :root {
        --primary-color:#7F0799;
        --dark-text-color: #000000;
        --light-text-color: #ffffff;
        --max-cont-width: 73.125rem;
    }
<<<<<<< HEAD
=======
    html {
        /* font-size: 10px; */
        overflow-x: hidden;
        scroll-behaviour: smooth;
    }
>>>>>>> a91abdcaeea303c78b943c4bbbba88375614d7fb
    body {
        /* font-size: 1.6rem; */
        font-family: 'DM Sans', sans-serif;
    }
    header{
        width: 100%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }
    header.sticky{
        position: sticky;
        top: -.0625rem;
        left: 0;
        background-color: var(--light-text-color);
        z-index: 990;
    }
    /* animations */
    .fade-top{
        animation: fadetop .5s linear;
    }
    @keyframes fadetop{
        0%{
            opacity: 0;
            transform: translateY(-100%);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }
    /* topnav */ 
    .top-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: var(--max-cont-width);
        width: 100%;
        margin: 0 auto;
        padding: 1.25rem 0;
        /* 2 */
    }
    /* logo-cont styles */
    .logo-cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* logo paragraph */
    .logo-cont p{
        display: flex;
        align-items: center;
        gap: .25rem;
        position: relative;
        color: var(--primary-color);
        font-family: 'Inter', sans-serif;
    }
    /* positioning the small img svg */
    .logo .smallimg{
        position: absolute;
        left: .9375rem;
        top: 60%;
    }
    /* nav-list */
    .nav-list {
        display: flex;
        align-items: center;
    }
    .nav-item {
        padding: 0 1.25rem;
    }
    .nav-link {
        text-transform: capitalize;
        font-weight: 400;
        color: #000000;
    }
    .nav-link:hover {
        color: var(--primary-color);
    }
    /* btn */
    .btn {
        background-color: var(--primary-color);
        color: var(--light-text-color);
        border-radius: .3125rem;
    }
    .btn:hover{
       background-color:#8F0799;
    }
    .join-waitlist-btn-large{
        padding: .3125rem .625rem;
    }
    /* media-quries */
    @media screen and (max-width:1200px){
        .top-nav{
            padding: 1.25rem 2.5rem;
        }
    }
    @media screen and (max-width:960px){
        .top-nav{
            padding: 1.25rem;
        }
    }
    @media screen and (max-width: 660px){
        .logo-cont{
            width:100%;
        }
        .logo-cont .logo .bigimg{
            width: 30%
        }
        .logo .smallimg{
            width: 10%;
            left: .75rem;
            top: 60%;
        }
        .logo-cont .logo{
            font-size: .9375rem;
        }
        .hamburger-menu{
            max-width: 1.5625rem;
            width: 100%;
            z-index: 9999;
        }
        .hamburger-menu .line{
            width: 100%;
            background-color: var(--dark-text-color);
            height: .3125rem;
            margin-top: .1875rem;
            transition: 0.3s ease-in;
        }
        .hamburger-menu.active .line{
            background-color: var(--light-text-color)
        }
        .hamburger-menu.active .line:nth-child(1){
            transform: translateY(.5rem) rotate(45deg)
        }
        .hamburger-menu.active .line:nth-child(2){
            transform: translateX(100%);
            opacity: 0;
        }
        .hamburger-menu.active .line:nth-child(3){
            transform: translateY(-.5rem) rotate(-45deg)
        }
        .join-waitlist-btn-large{
            display: none;
        }
        .nav-list{
            flex-direction: column;
            position: fixed;
            background-color: var(--primary-color);
            top: 0;
            right: -100%;
            opacity: 0;
            width: 50%;
            min-height: 100dvh;
            justify-content:center;
            z-index: 9998;
            transition: 0.3s ease-in;
        }
        .nav-list.active{
            opacity: 1;
            right: 0;
        }
        .nav-item{
            padding: .625rem 0;
        }
        .nav-link{
            color: var(--light-text-color);
            position: relative;
        }
        .nav-link::after{
            content: '';
            position: absolute;
            width: 100%;
            height: .125rem;
            background-color:var(--light-text-color);
            left: 0;
            bottom: 0;
            transform-origin: bottom left;
            transform: scaleX(0);
            transition: transform 0.3s ease-in;
        }
        .nav-link:hover{
            color: var(--light-text-color);
        }
        .nav-link:hover::after{
            transform: scaleX(1);
        }
        }
</style>
<script>
    const hamburgerMenu = document.querySelector('.hamburger-menu');
    const SlideBar = document.querySelector('.nav-list');
    const header = document.querySelector('header');

    window.addEventListener('scroll', ()=>[
        header.classList.toggle('sticky', window.scrollY > 0)
    ])

    hamburgerMenu.addEventListener('click', ()=>{
        hamburgerMenu.classList.toggle('active');
        SlideBar.classList.toggle('active')
    })
</script>